*{
  box-sizing: border-box;  
}

body{
  margin: 0;
    background-image: linear-gradient(to top, #85caff, #ebf3ff) ;
  font-family: Arial;
}

button{
  z-index: 1;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.drum-machine{
  min-width: 200px;
  max-width: 900px;
  background-image: linear-gradient(to top, hsl(310, 70%, 70%), #cd0aa9, #8e0b76 ) ;
  color: white;
  border: 3px inset #cd0aa9;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.drum-machine::before{
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  right: 5px;
  height: 50%;
  display: inline-block;;
  background-color: hsl(310, 70%, 70%, 0.5);
  border-radius: 5px;
  z-index: -1;
}

@media screen and (min-width: 850px){
  .drum-machine{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60vw;
  }
}

@media screen and (max-width: 850px){
  .drum-machine{
    width: 85vw;
  }
}